﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Thomas More<br />
    Campus Kruidtuin, Mechelen<br />
    <abbr title="Telefoon">P:</abbr>
    0032/15369150
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:anne.vangoethem@thomasmore.be">anne.vangoethem@thomasmore.be</a><br />
  
</address>