﻿@{
    ViewBag.Title = "Wat kan je doen?";
}

<br />
<ul>
    
    <li>@Html.ActionLink("Beheer klanten", "Index", "Klants")</li>
    <li>@Html.ActionLink("Beheer Producten", "Index", "Products")</li>
    <li>@Html.ActionLink("Beheer bestellingen", "Index", "Bestellings")</li>
    <li>@Html.ActionLink("Beheer Bestellijnen", "Index", "Bestellijns")</li>
    
</ul>